<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zc.biz.dao.mappers.dbOne.county.AirQualitycountydayMapper">
  <resultMap id="BaseResultMap" type="com.zc.biz.dao.models.dbOne.county.AirQualitycountyday">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="Id" jdbcType="CHAR" property="id" />
    <result column="gridcode" jdbcType="VARCHAR" property="gridcode" />
    <result column="time" jdbcType="TIMESTAMP" property="time" />
    <result column="CreateTime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="aqi" jdbcType="INTEGER" property="aqi" />
    <result column="pm2_5" jdbcType="INTEGER" property="pm25" />
    <result column="pm10" jdbcType="INTEGER" property="pm10" />
    <result column="so2" jdbcType="INTEGER" property="so2" />
    <result column="no2" jdbcType="INTEGER" property="no2" />
    <result column="co" jdbcType="DOUBLE" property="co" />
    <result column="o3_8h" jdbcType="INTEGER" property="o38h" />
    <result column="quality" jdbcType="VARCHAR" property="quality" />
    <result column="AQIStatus" jdbcType="CHAR" property="aqistatus" />
    <result column="PM25Status" jdbcType="CHAR" property="pm25status" />
    <result column="PM10Status" jdbcType="CHAR" property="pm10status" />
    <result column="SO2Status" jdbcType="CHAR" property="so2status" />
    <result column="NO2Status" jdbcType="CHAR" property="no2status" />
    <result column="COStatus" jdbcType="CHAR" property="costatus" />
    <result column="O3Status" jdbcType="CHAR" property="o3status" />
    <result column="complexIndex" jdbcType="DOUBLE" property="complexindex" />
    <result column="primaryPollutant" jdbcType="VARCHAR" property="primarypollutant" />
  </resultMap>
  <insert id="insertByBatch" parameterType="java.util.List">
    INSERT INTO `air_qualitycountyday` (`Id`,`gridcode`,`time`,`CreateTime`,`aqi`,`pm2_5`,`pm10`,`so2`,`no2`,`co`,
    `o3_8h`,`complexIndex`,`primaryPollutant`)
    values
    <foreach collection="list" index="index" item="item" separator=",">
      (#{item.id,jdbcType=CHAR},
      #{item.gridcode,jdbcType=VARCHAR},
      #{item.time,jdbcType=TIMESTAMP},
      #{item.createtime,jdbcType=TIMESTAMP},
      #{item.aqi,jdbcType=INTEGER},
      #{item.pm25,jdbcType=INTEGER},
      #{item.pm10,jdbcType=INTEGER},
      #{item.so2,jdbcType=INTEGER},
      #{item.no2,jdbcType=INTEGER},
      #{item.co,jdbcType=DOUBLE},
      #{item.o38h,jdbcType=INTEGER},
      #{item.complexindex,jdbcType=DOUBLE},
      #{item.primarypollutant,jdbcType=VARCHAR}
     )
    </foreach>
  </insert>
</mapper>