<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zc.biz.dao.mappers.dbOne.yqd.SpecialBoliMapper">
  <resultMap id="BaseResultMap" type="com.zc.biz.dao.models.dbOne.yqd.SpecialBoli">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="pollutant_discharge_id" jdbcType="VARCHAR" property="pollutantDischargeId" />
    <result column="boilers_number" jdbcType="VARCHAR" property="boilersNumber" />
    <result column="total_ton" jdbcType="VARCHAR" property="totalTon" />
    <result column="device_type" jdbcType="VARCHAR" property="deviceType" />
    <result column="capacity" jdbcType="VARCHAR" property="capacity" />
    <result column="fuel_type" jdbcType="VARCHAR" property="fuelType" />
    <result column="fuel_consumption" jdbcType="VARCHAR" property="fuelConsumption" />
    <result column="mirabilite_quantity" jdbcType="VARCHAR" property="mirabiliteQuantity" />
    <result column="product_type" jdbcType="VARCHAR" property="productType" />
    <result column="product_production" jdbcType="VARCHAR" property="productProduction" />
    <result column="outlet_height" jdbcType="VARCHAR" property="outletHeight" />
    <result column="outlet_diameter" jdbcType="VARCHAR" property="outletDiameter" />
    <result column="is_pollution_sources_guo" jdbcType="VARCHAR" property="isPollutionSourcesGuo" />
    <result column="is_do_online_monitor" jdbcType="VARCHAR" property="isDoOnlineMonitor" />
    <result column="is_pollution_sources_sheng" jdbcType="VARCHAR" property="isPollutionSourcesSheng" />
    <result column="is_pollution_sources_shi" jdbcType="VARCHAR" property="isPollutionSourcesShi" />
    <result column="is_online_monitor" jdbcType="VARCHAR" property="isOnlineMonitor" />
    <result column="is_video_monitor" jdbcType="VARCHAR" property="isVideoMonitor" />
  </resultMap>
</mapper>